.container {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.backgroundImage {
  position: absolute;
  right: -30px;
  bottom: -1px;
  font-size: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.backgroundImage img {
  width: 800px;
  height: auto;
  position: relative;
}
@media (max-width: 1250px) and (min-width: 1101px) {
  .container {
    height: 400px;
  }
  .backgroundImage img {
    left: 150px;
  }
}
@media (max-width: 1100px) and (min-width: 769px) {
  .container {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section3Text {
    max-width: 330px !important;
  }
  .backgroundImage img {
    left: 130px;
    width: 70vw;
  }
}
@media (max-width: 768px) {
  .backgroundImage {
    position: relative;
  }
  .backgroundImage img {
    width: 95vw;
    padding-top: 30px;
  }
  .section3Container {
    flex-direction: column-reverse;
  }
}

.innerContainer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  height: 100%;
}
.personImage {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.personImage img {
  padding-top: 45px;
  height: 90%;
}
.innerContainer h1 {
  color: white;
}
.innerContainer h2 {
  color: white;
}
.aboutText {
  width: 90%;
  max-width: 400px;
}
@media (max-width: 1201px) and (min-width: 769px) {
}

@media (max-width: 768px) {
  .aboutText {
    width: 95%;
    max-width: 95%;
    text-align: center;
  }
  .container {
    height: auto;
    padding-top: 60px;
  }
  .innerContainer {
    flex-direction: column-reverse;
    height: auto;
  }
  .personImage img {
    width: 80vw;
  }
}

/* @media (min-width: 1301px) {
}



@media (max-width: 575px) and (min-width: 381px) {
}

@media (max-width: 380px) {
} */
