.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
}

