.HillPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: #ebf7f8;
}
.section1Container {
  width: 100%;
}
.donateButton {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  position: fixed;
  top: 70px;
  z-index: 10;
}
.topImage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  padding: 40px;
  position: relative;
}
.topImageContent {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.topImageTitle {
  font-size: 2.5rem;
  line-height: 2.2rem;
  text-align: right;
  position: absolute;
  right: 5vw;
  bottom: 10px;
  border-radius: 20px;
  padding: 15px 20px 15px 15px;
  color: white;
  font-weight: 800;
  letter-spacing: 0.01em;
  font-variation-settings: "ROUN" 0, "wght" 700;
  min-width: 200px;
}
.aboutTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 50px;
}
.aboutText {
  text-align: center;
  width: 80%;
  max-width: 650px;
}
.section2Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section2Content {
  position: relative;
  width: 80vw;
  max-width: 1200px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(210, 210, 210);
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  direction: rtl;
}
.section2Text {
  position: absolute;
  max-width: 350px;
  margin-right: 60px;
  color: white;
  border-radius: 20px;
  height: 80%;
}
.section2Text p {
  padding: 40px;
}

@media (max-width: 768px) {
  .section2Content {
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  .section2Text {
    margin-right: 0px;
    width: 90%;
    height: 90%;
    background-color: rgba(48, 161, 170, 0.9) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section2Text p {
    padding: 20px;
    text-align: center !important;
  }
}
