.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaf3f5;
  height: 70px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
.rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.facebookIcon svg {
  height: 35px;
  position: relative;
  top: 1px;
  width: auto;
}

.leftSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  /* background-color: aquamarine; */
}
.rightSection a {
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
}
.rightSection .active {
  color: var(--secondary-color);
}
.donateContainer svg {
  margin-left: 5px;
  width: 28px;
  position: relative;
  top: -1px;
}
.donateContainer {
  background-color: var(--primary-color);
  border-radius: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 35px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 2px;
  transition: 0.3s;
  position: relative;
  top: -1px;
}
.donateContainer:hover {
  transition: 0.3s;
  background-color: var(--secondary-color);
}

.mobileMenuContainer {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.mobileMenuContainer a {
  color: white;
  font-size: 30px;
}

@media (max-width: 900px) and (min-width: 769px) {
  .rightSection {
    gap: 16px;
  }
  .leftSection {
    gap: 10px;
  }
  .logo {
    margin-left: 5px;
  }
  .donateContainer svg {
    margin-left: 5px;
    width: 20px;
    position: relative;
    top: -1px;
  }
  .donateContainer {
    font-size: 16px;
    height: 30px;
  }
}

/* @media (min-width: 1301px) {
}

@media (max-width: 768px) and (min-width: 576px) {
}

@media (max-width: 575px) and (min-width: 381px) {
}

@media (max-width: 380px) {
} */
