/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #124b78;
  --secondary-color: #30a1aa;
  --secondary-color-opacity: #30a2aabd;
  --secondary-color-hover: #29949b;
  --light-brown-color: #bb9d80;
  --dark-brown-color: #5a3622;
  --primary-font: "nextexit-variable", sans-serif;
}

body {
  margin: 0;
  font-family: nextexit-variable, sans-serif;
  font-variation-settings: "ROUN" 0, "wght" 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 36px;
  line-height: 1.1em;
  letter-spacing: 0;
  font-weight: inherit;
  font-variation-settings: "ROUN" 0, "wght" 600;
  /* font-weight: 600; */
  letter-spacing: -0.01em;
  
}
.p1 {
  /* font-weight: bold; */
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 36px;
  line-height: 1.1em;
  font-variation-settings: "ROUN" 0, "wght" 600;
  /* font-weight: 600; */
  letter-spacing: -0.01em;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* font-variation-settings: "ROUN" 0, "wght" 400; */
  letter-spacing: -0.01em;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-variation-settings: "ROUN" 0, "wght" 400;
  margin-block-start: 0;
  margin-block-end: 20px;
  letter-spacing: 0;
}
